# تفعيل محرك إعادة الكتابة
RewriteEngine On

# تحويل الطلبات من projects.html إلى coming.html
RewriteRule ^Projects\.html$ cooming.html [L]

# إذا كان الملف المطلوب غير موجود
RewriteCond %{REQUEST_FILENAME} !-f

# إذا كان الدليل المطلوب غير موجود
RewriteCond %{REQUEST_FILENAME} !-d

# إعادة كتابة العناوين إلى 404.html
RewriteRule ^(.*)$ 404.html [L]

# إعادة التوجيه من www.example.com إلى example.com
RewriteCond %{HTTP_HOST} ^www\.example\.com [NC]
RewriteRule ^(.*)$ http://example.com/$1 [L,R=301]

# إعادة كتابة العناوين لملفات .html إذا لم يتم طلب ملف بامتداد معين
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
